<div class="alert alert-warning" role="alert">
  <p style="font-size:.9rem; padding-left:3rem; padding-right:3rem; margin-top:5px; margin-bottom:0px; align:center;"><a style="font-size:.9rem; font-weight:bold;" href="">Member leadership vote now open through May 17 (6pm PT)</a>.<br/>OpenOakland has paused upcoming meetups and newcomer onboarding while we revisit our governance structure to better accommodate the realities of an all-volunteer brigade. <a style="font-size:.9rem;" href="/updates/mar-2022-steering-committee-update/">Get the details</a>.</p>
</div>
