<div class="index-hero">
    <div class="container">

      <h1 class="hero">Building Community Tech for Oakland</h1>

        <div class="hero-content">
            <div class="hero-content-image">
              <img class="hero" src="/assets/images/home/Hero.png" alt="Open Oakland members group photo"/>
            </div>
            <div class="hero-content-text">
              <p class="hero">Since 2012, our volunteer technologists have helped deliver services to the community, at no cost.</p>
    
              <div class="hero-buttons">
                <p><a href="/volunteer/" class="btn-lg btn-primary">Volunteer Now</a></p>
                <p><a href="/partner/" class="btn-lg btn-primary">Partner With Us</a></p>
              </div>
            </div>
        </div>

    </div>
</div>
