<section id="why-choose-oo" class="pb-2 border-bottom">
  <h2 class="text-center mb-4">Why Choose OpenOakland</h2>
  <div class="why-choose-oo-content container">
    <img class="rounded-circle shadow" width="350" height="350" src="assets/images/why-choose-openoakland.jpg"
      alt="Open oakland members working together at a computer">
    <ol class="oo-logo-list">
      <li class="d-flex">
        <img class="mx-2" width="30" height="30" src="assets/images/OpenOakland-logo-favicon.png"
          alt="OpenOakland Logo">
        <div>
          <h3 class="my-0">Supportive Local Community</h3>
          <p class="my-0">Join a supportive network of East Bay orgs leveraging technology for public good, guided by
            volunteers deeply connected to Oakland.</p>
        </div>
      </li>
      <li class="d-flex">
        <img class="mx-2" width="30" height="30" src="assets/images/OpenOakland-logo-favicon.png"
          alt="OpenOakland Logo">
        <div>
          <h3 class="my-0">Proven Technical Experience</h3>
          <p class="my-0">Our skilled volunteers bring top tech experience and a proven track record of creating lasting
            impact with Oakland organizations.</p>
        </div>
      </li>
      <li class="d-flex">
        <img class="mx-2" width="30" height="30" src="assets/images/OpenOakland-logo-favicon.png"
          alt="OpenOakland Logo">
        <div>
          <h3 class="my-0">Sustainable Solutions</h3>
          <p class="my-0">We build sustainable solutions that empower your team to maintain and adapt them
            independently, long after our engagement ends.</p>
        </div>
      </li>
      <li class="d-flex">
        <img class="mx-2" width="30" height="30" src="assets/images/OpenOakland-logo-favicon.png"
          alt="OpenOakland Logo">
        <div>
          <h3 class="my-0">No Cost</h3>
          <p class="my-0">We are an all volunteer collective and do not charge for services.</p>
        </div>
      </li>
      <p class="mt-0"><a href="/partner/" class="btn btn-primary">Partner with Us</a></p>
    </ol>
  </div>
</section>