<section id="next-event" class="border-bottom pt-4 pb-4 bg-light-green">
  <div class="container">
    <h2 class="mt-0 text-center">Upcoming Events</h2>

    <div class="d-flex justify-content-center mt-4">
      <iframe
        src="https://luma.com/embed/calendar/cal-Y6pRCtzy4KozE00/events?lt=light"
        width="600"
        height="450"
        frameborder="0"
        style="border: 1px solid #bfcbda88; border-radius: 4px;"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
  </div>
</section>
