<section id="what-we-offer" class="pb-4">
  <div class="container">
    <h2>What We Offer</h2>

    <div class="offer-content">
      <div class="offer-content-row mb-lg-4 mr-lg-0">
        <div class="offer-card">
          <div class="d-flex justify-content-between align-items-center">
            <div class="offer-img">
              <img src="/assets/images/data-analysis-logo.svg" width="32px" height="32px" alt="data analysis logo">
            </div>
            <h3>Data Analysis</h3>
          </div>
          <p>Our data scientists can help you uncover insights and create visualizations that drive action.</p>
        </div>
        <div class="offer-card">
          <div class="d-flex justify-content-between align-items-center">
            <div class="offer-img">
              <img src="/assets/images/optimization-logo.svg" width="32px" height="32px" alt="data analysis logo">
            </div>
            <h3>Optimization</h3>
          </div>
          <p>Modernize your systems with expert tech guidance, letting your team focus on the community.</p>
        </div>
        <div class="offer-card">
          <div class="d-flex justify-content-between align-items-center">
            <div class="offer-img">
              <img src="/assets/images/prototyping-testing-logo.svg" width="32px" height="32px"
                alt="data analysis logo">
            </div>
            <h3>Prototyping & Testing</h3>
          </div>
          <p>We can rapidly create a prototype and get it in front of real Oaklanders to test for clarity and usability.
          </p>
        </div>
      </div>
      <div class="offer-content-row">
        <div class="offer-card">
          <div class="d-flex justify-content-between align-items-center">
            <div class="offer-img">
              <img src="/assets/images/training-logo.svg" width="32px" height="32px" alt="data analysis logo">
            </div>
            <h3>Technical Training</h3>
          </div>
          <p>Our volunteers offer technical training to help you adopt new tools and processes.</p>
        </div>
        <div class="offer-card">
          <div class="d-flex justify-content-between align-items-center">
            <div class="offer-img">
              <img src="/assets/images/staffing-logo.svg" width="32px" height="32px" alt="data analysis logo">
            </div>
            <h3>Tech Sourcing & Staffing</h3>
          </div>
          <p>Need tech talent or tools? Our volunteers help craft job descriptions, RFPs, and purchase decisions.</p>
        </div>
        <div class="offer-card">
          <div class="d-flex justify-content-between align-items-center">
            <div class="offer-img">
              <img src="/assets/images/research-design-logo.svg" width="32px" height="32px" alt="data analysis logo">
            </div>
            <h3>User Research & Design</h3>
          </div>
          <p>Our designers and researchers can help you understand user needs and create intuitive interfaces.</p>
        </div>
      </div>
    </div>
  </div>
</section>