<section id="next-event" class="border-bottom pt-4 pb-4 bg-light-green">
  <div class="container">
    <h2 class="mt-0 text-center">Upcoming events</h2>
    {% assign next_event = site.data.events.upcoming[0] %}

    <div class="d-flex justify-content-center">
      <div class="event-card bg-white">
        <img src="assets/images/{{ next_event.image }}" alt="{{ next_event.alt }}">
        <div class="px-4">
          <h3 class="mt-3">{{ next_event.title }}</h3>
          <p class="m-0"><i>{{ next_event.date }}</i></p>
          <p class="m-0"><i>{{ next_event.location }}</i></p>
          <p class="mt-3"><a href="{{ next_event.link }}">Learn more →</a></p>
        </div>
      </div>
    </div>

  </div>
</section>