<section id="slack" class="border-top border-bottom bg-lighter-green">
  <div class="container slack-content">
    <div>
      <div class="d-flex align-items-center">
        <img src="assets/images/slack-logo.svg" width="30" height="30" alt="Slack Logo">
        <h2 class=" mt-0 mb-2 my-md-0 ml-2">Get connected with us!</h2>

      </div>
      <p class="m-0">By joining our Slack space, you agree to our <a href="openoakland.org/code-of-conduct/">Code of
          Conduct</a>.</p>
    </div>
    <p id="btn-slack"><a href="https://join.slack.com/t/openoakland/shared_invite/zt-n4d7tx2t-UVIN7a769e4oc9j7PgM3HA"
        class="btn-lg btn-primary">Join our Slack</a></p>
  </div>
</section>