<div class="index-hero">
    <div class="container">

      <h1 class="hero">Community Tech for Oakland since 2012</h1>

        <div class="hero-content">
            <div class="hero-content-image">
              <img class="hero" src="/assets/images/home/Hero.png" alt="Open Oakland members group photo" class="hero-image"/>
            </div>
            <div class="hero-content-text">
              <p class="hero"> Our volunteer technologists help you deliver services to the community, at no cost.</p>
    
              <div class="hero-buttons">
                <p><a href="/about-us" class="btn-lg btn-primary">Volunteer Now</a></p>
                <p><a href="/about-us" class="btn-lg btn-primary">Partner With Us</a></p>
              </div>
            </div>
        </div>

    </div>
</div>
