<h2>Latest updates from the brigade</h2>
<div class="d-grid gap-2 d-md-flex justify-content-md-end spacer-bottom">
  <a href="/updates" class="btn btn-outline-secondary">View All Updates</a>
</div>

  <div class="row">
    {% for post in site.posts limit:2 %}
    <div class="col-6">
    <div class="card">

      <div class="card-header">{{ post.date | date_to_string: "ordinal", "US" }}</div>

      {% if post.feat-img %}<img src="{{ post.feat-img }}" class="card-img-top" alt="{{ post.feat-img-alt }}">{% endif %}

      <div class="card-body">
        <h3 class="card-title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
        <p class="card-text home-excerpt">{{ post.post-excerpt }}</p>
        <a href="{{ post.url }}" class="btn btn-primary">Continue reading...</a>
      </div>

    </div>
    </div>
    {% endfor %}
  </div>

  <div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end spacer-top">
      <a href="/updates" class="btn btn-outline-secondary">View All Updates</a>
    </div>
    <hr class="hr-home">
  </div>
