<div class="card">

  {% if event.image %}<img src="{{ event.image }}" class="card-img-top" alt="thumbnail">{% endif %}

  <div class="card-body">
    <h3 class="card-title">{% if event.title %}{{ event.title }}{% endif %}</h3>
    <h4 class="card-subtitle">{% if event.subtitleGuest %}{{ event.subtitleGuest }}{% endif %}</h4>
    <p class="card-text">{% if event.descriptionSentence %}{{ event.descriptionSentence }}{% endif %}</p>
    {% if event.link %}<a href="{{ event.link }}" class="btn btn-primary btn-sm">{{ event.buttonText }}</a>{% endif %}
  </div>

  <div class="card-footer text-muted">
    {% if event.mon-dd-yyyy %}{{ event.mon-dd-yyyy }}{% endif %}
  </div>

</div>
