<footer class="site-footer">
  <nav class="navbar bottom navbar-light wrapper">
    <div class="navbar-nav">
      <a
        class="nav-link nav-item"
        target="_blank"
        href="https://github.com/{{
          site.github_username | cgi_escape | escape
        }}"
      >
        <i class="fa fa-github"></i>
        <span>{{ site.github_username | escape }}</span></a
      >
      <a
        class="nav-link nav-item"
        href="https://www.twitter.com/{{
          site.twitter_username | cgi_escape | escape
        }}"
      >
        <i class="fa fa-twitter"></i>
        <span>{{ site.twitter_username | escape }}</span></a
      >
    </div>

    <div style="padding-top: 1rem">
      <p class="nav-item">{{- site.description | escape -}}</p>
      <p class="nav-item">
        Contact us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </p>
    </div>
  </nav>
</footer>
