<footer class="site-footer">
  <nav class="bottom wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h6>Additional Information</h6>
          <a href="{{ site.baseurl }}/code-of-conduct">Code of Conduct</a>
          <br />
          <a href="{{ site.baseurl }}/our-values">Our Values</a>
          <br />
          <a href="/bylaws">Brigade bylaws</a>
          <br />
          <a href="{{ site.baseurl }}/press">Press Page</a>
        </div>

        <div class="col-sm-6">
          <h6>Connect</h6>
          <a
            target="_blank"
            href="https://github.com/{{
              site.github_username | cgi_escape | escape
            }}"
          >
            <i class="fa fa-github">&nbsp;</i>
            <span>Visit us on GitHub</span></a
          >
          <br />
          <a
            href="https://www.twitter.com/{{
              site.twitter_username | cgi_escape | escape
            }}"
            target="_blank"
          >
            <i class="fa fa-twitter">&nbsp;</i>
            <span>Follow us on Twitter</span></a
          >
          <br />
          <a href="{{ '/newsletter' | relative_url }}" target="_blank">
            <i class="fa fa-envelope">&nbsp;</i>
            <span>Get the newsletter</span>
          </a>
          <br />
          <a href="{{ '/donate' | relative_url }}">
            <i class="fa fa-hand-holding-usd">&nbsp;</i>
            <span>Donate to support our work</span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</footer>
