<div class="d-flex col-sm-12 cols-md-12">
<div class="card projects">

  <div class="row no-gutters">

      <div class="col-md-8">
        <div class="card-body">

          {% if project.name %}<h3 class="projects-h3">{{ project.name }}</h3>{% endif %}

          <p class="card-text">{% if project.description %}{{ project.description | markdownify | smartify }}{% endif %}</p>


        </div>
      </div>

      <div class="col-md-4">
        <div class="card-body">

          {% if project.image %}
          <p><img class="projects" src="/assets/images/projects/{{ project.image }}" alt="screenshot of {{ project.name }}" /></p>
          {% endif %}

          <div markdown="0">{% if project.website %}<a href="{{ project.website }}" class="btn btn-primary btn-sm projects-btn">Visit site</a>{% endif %}

          {% if project.repo %}<a href="{{ project.repo }}" class="btn btn-outline-secondary btn-sm projects-btn">View code</a>{% endif %}</div>

          {% if project.leader %}
          <p class="card-text"><small><b>Project lead</b></small><br/>
          {{ project.leader }}</p>
          {% endif %}

          {% if project.slack_channel %}
          <p class="card-text"><small><b>Connect on Slack</b></small><br/>
          <a href="https://openoakland.slack.com/messages/{{ project.slack_id }}"
              target="_blank"
              rel="noopener noreferrer">#{{ project.slack_channel }}</a></p>
          {% endif %}

        </div>
      </div>

  </div>

  <div class="card-footer text-muted">
    {% if project.tech %}
    <b>Technology:</b> {{ project.tech }}
    {% endif %}
  </div>

</div>
</div>
