<div id="projects">
  <h3>
  {% if project.link %}
  <a target="_blank" href="{{ project.link }}">{{ project.name }}</a>
  {% elsif project.link == nil %}
  <span>{{ project.name }}</span>
  {% endif %}
</h3>

<div class="col1">
  {% if project.image %}
  <img
    src="/assets/images/projects/{{ project.image }}"
    alt="screenshot of {{ project.name }}"
  />
  {% endif %}

  {% if project.established %}
  <strong>Established</strong>: {{ project.established }}<br/>
  {% endif %}

  {% if project.leader %}
  <strong>Team Contact</strong>: {{ project.leader }}<br/>
    {% endif %}

  {% if project.slack_channel %}
  <strong>Slack channel:</strong> <a
    href="https://openoakland.slack.com/messages/{{ project.slack_id }}"
    target="_blank"
    rel="noopener noreferrer">#{{ project.slack_channel }}</a>
  {% endif %}

  {% if project.decommissionedDate %}
  <strong>Decommissioned:</strong>: {{ project.decommissionedDate }}
  {% endif %}
  {% if project.decommissionedReason %}
  <strong>Reason for decommission:</strong> {{ project.decommissionedReason }}
  {% endif %}
  {% if project.decommissionedDate %}
  <strong>To be reinstated:</strong>: {{ project.decommissionedSolution }}
  {% endif %}
</div>

<div class="col2">{{ project.description | markdownify | smartify }}</div>

</div>
