<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h5>Hack Night Lead</h5>
      <div>
        <img
          class="steeering-committee-image"
          alt="OpenOakland logo"
          src="/assets/images/OpenOakland-logo-favicon.png"
        />
        <p>
          Tom Theimer<br/>
          <i>@TomT in Slack</i>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <h5>Treasurer/Recorder</h5>
      <div>
        <img
          class="steeering-committee-image"
          alt="OpenOakland logo"
          src="/assets/images/OpenOakland-logo-favicon.png"
        />
        <p>
          Sean Martinez<br/>
          <i>@Sean in Slack</i>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <h5>Communications Lead</h5>
      <img
        class="steeering-committee-image"
        alt="OpenOakland logo"
        src="/assets/images/OpenOakland-logo-favicon.png"
      />
      <p>
        Jess Sand<br/>
        <i>@Jess in Slack</i>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h5>Community Organizer</h5>
      <div>
        <img
          class="steeering-committee-image"
          alt="OpenOakland logo"
          src="/assets/images/OpenOakland-logo-favicon.png"
        />
        <p>
          Niels Thorsen<br/>
          <i>@Niels in Slack</i>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <h5>Steering Committee Chair</h5>
      <div>
        <p>
          Sean Martinez<br/>
          <i>@Sean in Slack</i>
        </p>
      </div>
    </div>
  </div>
</div>
