<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h5>Hack Night Lead:</h5>
      <div>
        <img
          class="steeering-committee-image"
          alt="Photo of Colin King-Bailey"
          src="/assets/images/steering-committee/Colin.jpg"
        />

        <p>
          Colin King-Bailey
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <h5>Treasurer/Recorder:</h5>
      <div>
        <img
          class="steeering-committee-image"
          alt="Photo of Mike Ubell"
          src="/assets/images/steering-committee/Mike.jpg"
        />

        <p>
          Mike Ubell
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <h5>Communications Lead:</h5>
      <div>
        <img
          class="steeering-committee-image"
          alt="Photo of Alison Lawyer"
          src="/assets/images/steering-committee/Alison.png"
        />

        <p>
          Alison Lawyer
        </p>
      </div>
    </div>
  </div>

  <h5>Community Organizers:</h5>
  <div class="row">
    <div class="col-sm-4">
      <img
        class="steeering-committee-image"
        alt="Photo of Andrew Tom"
        src="/assets/images/steering-committee/Andrew.png"
      />

      <p>
        Andrew Tom
      </p>
    </div>

    <div class="col-sm-4">
      <img
        class="steeering-committee-image"
        alt="Photo of Mary Yeh"
        src="/assets/images/steering-committee/Mary.jpg"
      />

      <p>
        Mary Yeh
      </p>
    </div>
  </div>
</div>
