<!--
  Steering Committee photo grid, shown on the About page.

  To add or remove someone, copy one whole <div class="col-sm-4"> block below
  and edit the name and the image. Members are listed
  alphabetically by last name; the columns re-flow on their own, so there is
  no need to balance the rows by hand.

  Headshots live in /assets/images/team/ and should be square. If someone has
  no headshot, point src at openoakland-placeholder.png and leave the alt text
  as "OpenOakland logo".
-->

<div class="container">

  <div class="row">

    <div class="col-sm-4">
      <div>
        <img
          class="steeering-committee-image"
          alt="Headshot of Toni Aguilar"
          src="/assets/images/team/toni-aguilar.jpg"
        />
        <p class="image-caption" style="font-weight:bold;">
          Toni Aguilar
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div>
        <img
          class="steeering-committee-image"
          alt="Headshot of Felicia Betancourt"
          src="/assets/images/team/felicia-betancourt.jpg"
        />
        <p class="image-caption" style="font-weight:bold;">
          Felicia Betancourt
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div>
        <img
          class="steeering-committee-image"
          alt="OpenOakland logo"
          src="/assets/images/team/openoakland-placeholder.png"
        />
        <p class="image-caption" style="font-weight:bold;">
          Blaise Harrison
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div>
        <img
          class="steeering-committee-image"
          alt="Headshot of Dani Platt"
          src="/assets/images/team/dani-platt.jpg"
        />
        <p class="image-caption" style="font-weight:bold;">
          Dani Platt
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div>
        <img
          class="steeering-committee-image"
          alt="Headshot of Cristy Rowley"
          src="/assets/images/team/cristy-rowley.jpg"
        />
        <p class="image-caption" style="font-weight:bold;">
          Cristy Rowley
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div>
        <img
          class="steeering-committee-image"
          alt="OpenOakland logo"
          src="/assets/images/team/openoakland-placeholder.png"
        />
        <p class="image-caption" style="font-weight:bold;">
          Niels Thorsen
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div>
        <img
          class="steeering-committee-image"
          alt="Headshot of Mike Ubell"
          src="/assets/images/team/mike-ubell.jpg"
        />
        <p class="image-caption" style="font-weight:bold;">
          Mike Ubell
        </p>
      </div>
    </div>

  </div>

</div>
