@import "mixins/media";

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol" !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;

$spacing-unit: 24px !default;

$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #21b890 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

// Width of the content area
$content-width: 900px !default;

// breakpoints
$mobile-up: 320px;
$tablet-up: 460px;

body {
  font: $base-font-weight $base-font-family;
  color: $text-color;
  background-color: $background-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: $spacing-unit / 2;
}

h2,
h3,
h4,
h5,
h6,
p {
  margin-top: $spacing-unit / 3;
}

ol {
  margin-top:1.6rem;
  margin-left:1rem;
}


ul {
  margin-top:1.6rem;
  margin-left:1rem;
}

li {margin-top:1.1rem;}

a:not([class]),
.brand-link {
  color: darken($brand-color, 20%);
  text-decoration: underline;

  &:hover {
    background-color: darken($brand-color, 20%);
    color: white;
  }
}

img {
  max-width:100%;
}

main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
  flex: 1;
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding: $spacing-unit;
}

.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  margin-bottom: 40px;
}

.header-logo {
  width: 240px;
  margin-right: 80px;
  @media (max-width: $mobile-up) {
    width: 200px;
  }
}

.site-footer {
  border-top: 1px solid $grey-color-light;
}

// bootstrap overrides
.btn-primary {
  background-color: $brand-color;
  border-color: $brand-color;

  &:hover {
    background-color: darken($brand-color, 10%);
    border-color: darken($brand-color, 10%);
  }

  &:active {
    background-color: darken($brand-color, 15%) !important;
    border-color: darken($brand-color, 15%) !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem lighten($brand-color, 20%) !important;
  }
}

// OO custom styles
.page-section {
  clear: both;
  margin-bottom: $spacing-unit * 2;
}

.home__event-card {
  margin-bottom: $spacing-unit;
}

.card-img {
    height: 100%;
    object-fit: cover;
  }


.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: $spacing-unit * 3;
}

.iframe-container iframe {
  position: absolute;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

.project-filter__toolbar {
  display: flex;
  align-items: start;

  .dropdown:not(:first-of-type) {
    margin-left: 0.5rem;
  }
}

.text-small {
  font-size: $small-font-size;
}