<div class="row">
  {%- for 2021-gratitude in site.data.2021-gratitude -%}
    <div class="d-flex col-sm-4 cols-md-12">

      <div class="card calendar-card">
        <div class="card-body shout-out-body">
          <div class="card-header shout-out-header">{% if 2021-gratitude.recipient %}{{ 2021-gratitude.recipient }}{% endif %}</div>
          <p class="card-text shout-out-text">{% if 2021-gratitude.shout-out %}{{ 2021-gratitude.shout-out }}{% endif %}</p>
        </div>


      </div>

    </div>
  {%- endfor -%}
</div>
